* {
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
}

header a {
    color: #ffffff;
    font-weight: 800;
}

.bg-hellracers-blue {
    background-color: #2461ce;
}

.navbar-brand img {
    max-height: 50px;
    width: auto;
}

.driver-item {
    margin: 0;
    padding: 0;
}
.driver-item img {
    width: 100%;
    height: auto;
}


.driver-list-caption {
    background: black;
    color: white;
    text-align: center;
}

.footer-menu-header {
    font-weight: 900;
}

footer {
    background: #ffc400;
    color: #ffffff;
    font-weight: 900;
}

footer nav ul {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}

footer img {
    max-height: 160px;
    float: right;
    width: auto;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer a {
    color: #ffffff;
    font-weight: normal;
}
