{{ define "main" }}
<div class="container" id="content">
    <main>
        <h1 id="title"> {{ .Title }}</h1>
        {{ .Content }}
        <div class="row">
            {{ $driversPerRow := 4 }}
            {{ $count := 0 }}
            {{ range .Pages }}
                {{ $count = (add $count 1) }}
                {{ partial "drivers/driver" .}}
                {{ if eq (mod $count $driversPerRow) 0}}
                    </div><div class="row">
                {{ end }}
            {{ end }}
        </div>
    </main>
</div>
{{ end }}
